body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  border-radius:10px;
  position:absolute;
}
.ghostlyDancer{
  background: url(https://vignette.wikia.nocookie.net/brutalmario/images/7/7c/Boo.png/revision/latest?cb=20150617073957) no-repeat;
  background-size: 100px;
  width: 100%;  
  height: 100%;  
}
.quirkyDancer{
  background: url(https://dbutera-webdesign.wikispaces.com/file/view/giphy.gif/552987296/208x147/giphy.gif) no-repeat;
  background-size: 300px;
  width: 100%;  
  height: 100%;  
}
.groovyDancer{
  background: url(https://45.media.tumblr.com/1ec27464115b4d267078a51aa8dc8d26/tumblr_nx9s8wYBYi1rxkd4jo1_500.gif) no-repeat;
  background-size: 300px;
  width: 100%;  
  height: 100%;  
}
